@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/* :root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
} */
:root {
  --background: oklch(0.9940 0 0);
  --foreground: oklch(0.3012 0 0);
  --card: oklch(0.9702 0 0);
  --card-foreground: oklch(0.3485 0 0);
  --popover: oklch(0.9851 0 0);
  --popover-foreground: oklch(0.3012 0 0);
  --primary: oklch(0.6641 0.0561 75.0842);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8361 0.0343 77.5574);
  --secondary-foreground: oklch(0.4091 0 0);
  --muted: oklch(0.9431 0 0);
  --muted-foreground: oklch(0.5313 0 0);
  --accent: oklch(0.8755 0.0243 73.5851);
  --accent-foreground: oklch(0.4091 0 0);
  --destructive: oklch(0.4776 0.1930 23.5886);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9067 0 0);
  --input: oklch(0.9551 0 0);
  --ring: oklch(0.8361 0.0343 77.5574);
  --chart-1: oklch(0.6641 0.0561 75.0842);
  --chart-2: oklch(0.5958 0.0501 79.7057);
  --chart-3: oklch(0.7247 0.0348 79.1841);
  --chart-4: oklch(0.7728 0.0332 78.0957);
  --chart-5: oklch(0.8253 0.0321 79.8990);
  --sidebar: oklch(0.9791 0 0);
  --sidebar-foreground: oklch(0.3485 0 0);
  --sidebar-primary: oklch(0.5958 0.0501 79.7057);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8755 0.0243 73.5851);
  --sidebar-accent-foreground: oklch(0.4091 0 0);
  --sidebar-border: oklch(0.9067 0 0);
  --sidebar-ring: oklch(0.8361 0.0343 77.5574);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.25rem;
  --shadow-x: 0;
  --shadow-y: 0;
  --shadow-blur: 0;
  --shadow-spread: 0;
  --shadow-opacity: 0;
  --shadow-color: transparent;
  --shadow-2xs: 0 0 0 0 hsl(0 0% 0% / 0.00);
  --shadow-xs: 0 0 0 0 hsl(0 0% 0% / 0.00);
  --shadow-sm: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0 0 0 0 hsl(0 0% 0% / 0.00);
  --tracking-normal: 0;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2533 0.0082 240.1936);
  --foreground: oklch(0.9067 0 0);
  --card: oklch(0.2899 0.0068 229.0723);
  --card-foreground: oklch(0.8078 0 0);
  --popover: oklch(0.2777 0.0068 229.0915);
  --popover-foreground: oklch(0.9067 0 0);
  --primary: oklch(0.5958 0.0501 79.7057);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.4241 0.0082 233.8239);
  --secondary-foreground: oklch(0.8078 0 0);
  --muted: oklch(0.3641 0.0085 233.8860);
  --muted-foreground: oklch(0.6534 0 0);
  --accent: oklch(0.3831 0.0084 233.8638);
  --accent-foreground: oklch(0.8078 0 0);
  --destructive: oklch(0.6396 0.1336 10.2285);
  --destructive-foreground: oklch(0.2533 0.0082 240.1936);
  --border: oklch(0.3641 0.0085 233.8860);
  --input: oklch(0.3341 0.0076 240.0568);
  --ring: oklch(0.5958 0.0501 79.7057);
  --chart-1: oklch(0.5958 0.0501 79.7057);
  --chart-2: oklch(0.6641 0.0561 75.0842);
  --chart-3: oklch(0.5438 0.0446 84.3727);
  --chart-4: oklch(0.4906 0.0380 83.4967);
  --chart-5: oklch(0.4463 0.0336 84.4294);
  --sidebar: oklch(0.2449 0.0082 240.2141);
  --sidebar-foreground: oklch(0.8078 0 0);
  --sidebar-primary: oklch(0.6641 0.0561 75.0842);
  --sidebar-primary-foreground: oklch(0.2449 0.0082 240.2141);
  --sidebar-accent: oklch(0.3831 0.0084 233.8638);
  --sidebar-accent-foreground: oklch(0.8078 0 0);
  --sidebar-border: oklch(0.3341 0.0076 240.0568);
  --sidebar-ring: oklch(0.5958 0.0501 79.7057);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.25rem;
  --shadow-x: 0;
  --shadow-y: 0;
  --shadow-blur: 0;
  --shadow-spread: 0;
  --shadow-opacity: 0;
  --shadow-color: transparent;
  --shadow-2xs: 0 0 0 0 hsl(0 0% 0% / 0.00);
  --shadow-xs: 0 0 0 0 hsl(0 0% 0% / 0.00);
  --shadow-sm: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0 0 0 0 hsl(0 0% 0% / 0.00);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  /* To Disable tailwind force for buttons pointer */
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
